---
title: Alar

isTerm: true

useFullWidth: true
---
<p>
    The Alar is the cornerstone of <%= link_to 'Sympathy', '/terms/sympathy' %> and is the mental ability to hold a belief so strongly that it affects reality.
</p>