---
title: Cammar

isCharacter: true
isMinorCharacter: true
---
<p>
    Cammar is one of Kilvin's <%= link_to 'gillers', '/terms/giller/' %> who teaches Ferrous and Cupric Metallurgy in <%= link_to 'the Artificery', '/locations/the-artificery/' %>.
    He is described as having only one eye, it is not known why he is missing the other eye. 
</p>