---
title: Simmon
summary: 
image: https://vignette.wikia.nocookie.net/nameofthewind/images/b/b7/Playing_Cards_poster_Simmon.png/revision/latest/scale-to-width-down/310?cb=20150430103614

ethnicity: Aturan
eyeColor: Light
fullName: 
gender: Male
hairColor: Sandy

isCharacter: true
useInfobox: true
---

<!-- Forever it shall be enshrined, Simmon is best girl. -->
<p>
    Simmon, often referred to as Sim, is one of <%= link_to 'Kvothe', '/characters/kvothe/' %>'s friends at <%= link_to 'The University', '/places/the-university/' %>.
</p>

<%= partial(:quote, :locals => { :quote => "Simmon [...] had a great deal to offer. He was a gemstone in the rough. Not stunning at first glance, but with a great deal of worth beneath the surface. Sim was tender, kind, and attentive [...] Sim was a prince.", :quotee => "Kote" }) %>