<% if current_page.data.isLocation === true %>
<div id="infobox" class="<% if display === "mobile" %>mobile-infobox <% end %><% if display === "desktop" %>desktop-infobox <% end %>fixed-column wpb_column vc_column_container vc_col-sm-4">
	<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1507664104907">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner">
						<div class="wpb_wrapper">
							<div class="content-table">
							    <% if current_page.data.image %>
								<div class="item style2 image cover-item extra-top-margin">
									<div class="content image"><%= image_tag current_page.data.image %></div>
								</div>
								<% end %>
								<div class="item style1 simple-text">
									<div class="title">Location:</div>
									<div class="content simple-text">
										<p><%= current_page.data.location || "Unknown" %></p>
									</div>
								</div>
								<div class="item style1 simple-text">
									<div class="title">Currency:</div>
									<div class="content simple-text">
										<p><%= current_page.data.currency || "Unknown" %></p>
									</div>
								</div>
								<div class="item style1 simple-text">
									<div class="title">Ruler(s):</div>
									<div class="content simple-text">
										<p><%= current_page.data.rulers || "Unknown" %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>