<ul class="social-links">
	<li><a href="https://discordapp.com/invite/5qERnsV" class="discord" title="Discord" target="_blank"><i class="fab fa-discord"></i></a></li>
	<li><a href="https://www.facebook.com/thecrockery/" class="facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
	<li><a href="https://twitter.com/thecrockeryorg" class="twitter" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
</ul>