---
title: Imre

currency: Commonwealth, Cealdish
location: Central Commonwealth

isLocation: true
---

<p>
    Imre is a city in the Commonwealth and is the closest city to <%= link_to 'the University', '/locations/the-university/' %>.
    Due to its distance from the University, Imre benefits from access to healthcare and technology.
</p>

<%= partial(:quote, :locals => { :quote => "I saw the place in Imre where you killed him. By the fountain. The cobblestones are all shattered. [...] They say no one can mend them.", :quotee => "" }) %>

<p>
    Imre lies roughly two miles to the west of the University, with the Omethi River separating the two. 
</p>

<h2>Relationship with The University</h2>
Although Imre benefits from its close proximity to the University, many of Imre's inhabitants speak of the University and its students with suspicion and fear.
This, however, does not prevent them from taking advantage of the medical and technological advances coming from the University, such as advanced plumbing.