<footer class="footer footer-style1" id="Footer">
	<div class="footer-copyright">
		<div class="container">
			<a href="" class="footer-logo" title="Wikilogy">The Crockery</a>
			<p>Made with ❤️</p>
		</div>
	</div>
</footer>