<div class="header header-style-3">
	<div class="header-content">
		<div class="container">
			<div class="main-content d-flex justify-content-between align-items-center">
				<div class="list-social-links">
					<ul class="social-links">
						<li><a href="https://discordapp.com/invite/5qERnsV" class="discord" title="Discord" target="_blank"><i class="fab fa-discord"></i></a></li>
						<li><a href="https://www.facebook.com/thecrockery/" class="facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://twitter.com/thecrockeryorg" class="twitter" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="header-logo">
					<div class="logo">
						<a href="/" class="site-logo" title="The Crockery"><div class="title">The Crockery</div></a>
					</div>
				</div>
				<div class="elements">
					<div class="item header-edit-icon">
						<div class="icon">
							<a class="gt-ref-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit this page on GitHub" href="https://github.com/TheCrockery/thecrockery.org/blob/source/source/<%= current_page.path %>.erb" title="Edit this page on GitHub"><i class="fab fa-github-alt"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mainmenu">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<div class="collapse navbar-collapse">
					<ul id="menu-main-menu" class="navbar-nav m-auto">
						<li class="nav-item menu-item menu-item-about" data-dropdown="dropdown">
							<a href="/about/" class="nav-link">About</a>
						</li>
						<li class="nav-item menu-item menu-item-has-children dropdown" data-dropdown="dropdown">
							<a href="index.html#" class="nav-link">Characters<i class="fas fa-chevron-down"></i></a>
							<ul role="menu" class="dropdown-menu">
								<li class="nav-item menu-item"><a href="/characters/kvothe" class="nav-link">Kvothe</a></li>
								<li class="nav-item menu-item"><a href="/characters/simmon" class="nav-link">Simmon</a></li>
							</ul>
						</li>
						<li class="nav-item menu-item menu-item-featured"><a href="index.html" class="nav-link">Featured Contents</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>