<header class="mobile-header">
	<div class="header-logo">
		<div class="logo">
			<a href="" class="site-logo" title="Wikilogy"><img alt="The Crockery" src="../../wp-content/uploads/2017/10/logo.png" /></a>
		</div>
	</div>
	<div class="mobile-menu-icon"> <span></span> <span></span> <span></span></div>
</header>
<div class="mobile-header-sidebar header-sidebar">
	<div class="overlay"></div>
	<div class="content">
		<div class="close-button"></div>
		<div class="content-wrapper scrollbar-outer">
			<div class="header-logo">
				<div class="logo">
					<a href="" class="site-logo" title="Wikilogy"><img alt="The Crockery" src="../../wp-content/uploads/2017/10/logo.png" /></a>
				</div>
			</div>
			<div class="header-sidebar-menu">
				<nav class="navbar">
					<div class="collapse navbar-collapse">
						<ul id="menu-main-menu-1" class="navbar-nav m-auto">
						    <li class="nav-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-15 active"><a href="index.html" class="nav-link">Featured Contents</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<%= partial "templates/social-links" %>
		</div>
	</div>
</div>