<div class="wpb_text_column wpb_content_element">
	<div class="wpb_wrapper">
		<blockquote>
			<p><%= quote %></p>
			<% if quotee != "" %>
			<p><strong>– <%= quotee %></strong> </p>
			<% end %>
		</blockquote>
	</div>
</div>