<% if current_page.data.references == true %>
<div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<h2 style="text-align: left" class="vc_custom_heading" id="ExternalLinks">References</h2>
				<div class="wpb_text_column wpb_content_element">
					<div class="wpb_wrapper">
						<ol>
							<li>Lorem ipsum dolor sit. <a href="#" target="_blank" rel="noopener"><strong>&#8220;Vivamus quis mi eget justo porttitor eleifend&#8221;</strong></a></li>
							<li>Consectetur adipiscing elit. <strong><a href="#" target="_blank" rel="noopener">&#8220;Cras blandit felis a cursus fringilla.&#8221;</a></strong></li>
							<li>Donec porttitor purus sit. <a href="#" target="_blank" rel="noopener"><strong>&#8220;Integer porta dolor sit amet maximus rhoncus.&#8221;</strong></a></li>
							<li>Sed convallis leo aliquam. <a href="#" target="_blank" rel="noopener"><strong>&#8220;In at sapien quis ante ullamcorper porttitor.&#8221;</strong></a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>