---
title: About Us
---

<p>
    The Crockery started in December, 2017 as a small Kingkiller Discord server. It quickly grew to be the second largest (but the most active) Kingkiller server on Discord.
</p>