---
title: Home
---

<h2 style="margin-top: 0px;">Welcome to The Crockery!</h2>
<p>
    The Crockery is a fansite dedicated to the Kingkiller Chronicle by Patrick Rothfuss. We were founded by <span class="ping">penguinstyles#9735</span> on December 5<sup>th</sup>, 2017.
</p>
<%= partial(:quote, :locals => { :quote => "It's where you go if you're a-ravin'", :quotee => "" }) %>
