<div class="item">
	<div class="post-list-styles post-list-style-4">
		<a href="/locations/<%= title.sub(' ', '-').downcase %>/" title="<%= title %>">
			<div class="content" style="background-image:url(<%= imageURL %>);">
				<div class="inner">
					<div class="title"><%= title %></div>
				</div>
			</div>
		</a>
	</div>
</div>