<% if current_page.data.disableComments != true %>
<div id="comments" class="comments-area">
	<div class="wikilogy-title style-2 shadow-active" style="min-height: 85px;">
		<div class="shadow-title">Comments</div>
		<div class="title-text">
			<div class="title">Comments</div>
		</div>
	</div>
	<script src="https://utteranc.es/client.js"
        repo="TheCrockery/thecrockery.org-comments"
        issue-term="<%= current_page.data.title %>"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
<% end %>