<div class="wpb_widgetised_column wpb_content_element">
	<div class="wpb_wrapper">
		<div id="wikilogy_social_counter_widget-2" class="general-sidebar-wrap widget-box wikilogy-social-counter-widget">
			<div class="widget-title">Stay Connected</div>
			<div class="wikilogy-widget-inner">
				<ul class="wikilogy-social wikilogy-social-a">
					<li>
						<a href="https://discordapp.com/invite/5qERnsV" class="discord" target="'_blank'">
						<i class="fab fa-discord"></i> 
						<span> Join our Discord server! </span> 
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/thecrockery" class="facebook" target="'_blank'">
						<i class="fab fa-facebook-f"></i> 
						<span> Like us on Facebook! </span> 
						</a>
					</li>
					<li>
						<a href="https://twitter.com/thecrockeryorg" class="twitter" target="'_blank'">
						<i class="fab fa-twitter"></i> 
						<span> Follow us on Twitter! </span> 
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>